language: ruby

rvm:
  - 2.5.3
  - 2.6.1
  - jruby-9.2.0.0
  - ruby-head
  - jruby-head

before_install:
  - gem update --system

env:
  global:
    - JRUBY_OPTS=--dev

script:
  - bundle exec rake ${TEST_SUITE:-test}

matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: jruby-9.2.0.0
    - env: TEST_SUITE=templates:test
  include:
    - env: TEST_SUITE=templates:test
      rvm: 2.6.1
