<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Templates Test</title>
    <link rel="stylesheet" href="/node_modules/mocha/mocha.css" />
  </head>
  <body>
    <!-- setup for mocha -->
    <div id="mocha"></div>
    <script src="/node_modules/mocha/mocha.js"></script>
    <script src="/node_modules/chai/chai.js"></script>
    <script>
      mocha.setup('tdd');
      mocha.reporter('html');
    </script>

    <!-- load templates -->
    <script src="/templates/console.js"></script>

    <!-- find and load test cases -->
    <script src="/test/test_helper.js"></script>
    <% Pathname.glob(TEST_ROOT.join "test/**/*_test.js") do |t| %>
    <script src="/<%= t.relative_path_from TEST_ROOT %>"></script>
    <% end %>

    <!-- run tests -->
    <script>
      if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
      } else {
        mocha.run();
      }
    </script>
  </body>
</html>
